:root {
  --color-primary: #006dff;
  --color-primary-light: #197bfb;

  --color-secondary: #fcbb6a;
  --color-secondary-light: #fcbb6a;

  --color-grey-light-1: #f1f2f6;
  --color-grey-light-2: #dfe4ea;
  --color-grey-light-3: #ced6e0;

  --color-grey-dark-1: #747d8c;
  --color-grey-dark-2: #57606f;
}

$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
